body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

#chart_div{
    margin-bottom:80px;
}
#tbl{
    margin-top:130px;
}

.slowest{
    border:1px solid #a6a6a6;
    background:#fff;
    border-radius:5px;
    margin-top:50px;
}